body {
    background-color:$primary-color;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $text-color;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        font-weight: 40%;
        text-align: left;
    }
    
    
    
    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 20px;
        color:$text-color;
        text-align: left;
    }
    
    ul {
        color: $text-color;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 20px;
        text-align: left;
    }
    
    .col-sm-4 div {
        padding: 50px;
    
        p {
            text-align: justify;
        }
        h3{
            border-bottom: 1px solid ;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
    
    .col-sm-8{
        width: 600px;
        height: 700px;
    }